@import url("http://fonts.cdnfonts.com/css/lemonmilk");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #FFFFFF;
  font-family: "Rany";
}

body label {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.extension-popup {
  width: 700px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2b2a33;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.0578562);
          box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.0578562);
}

.extension-popup .top-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #302e37;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.extension-popup .top-menu > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.extension-popup .top-menu > div:first-child > div:first-child {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 2px solid #FFFFFF;
}

.extension-popup .top-menu > div:first-child > div:first-child img {
  height: 28px;
  margin-right: 8px;
}

.extension-popup .top-menu > div:first-child > div:first-child span {
  font-size: 13px;
  line-height: 12px;
}

.extension-popup .top-menu > div:first-child > div:last-child span {
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  line-height: 13px;
  margin-left: 30px;
}

.extension-popup .top-menu > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.extension-popup .top-menu > div:last-child .input-switch {
  display: none;
}

.extension-popup .top-menu > div:last-child label.switch-button {
  font-size: 10px;
  line-height: 9px;
}

.extension-popup .top-menu > div:last-child label.switch-button:hover {
  cursor: pointer;
}

.extension-popup .container-main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.extension-popup .container-main .btn-autofill,
.extension-popup .container-main .btn-auto-jig,
.extension-popup .container-main .btn-autosubmit {
  width: 583px;
  height: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 39px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #FFFFFF;
  background: transparent;
  -webkit-box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.0572279);
          box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.0572279);
  text-align: center;
  font-size: 38px;
  font-family: 'Rany';
  font-weight: normal;
  line-height: 34px;
  color: #FFFFFF;
}

.extension-popup .container-main .btn-autofill:hover,
.extension-popup .container-main .btn-auto-jig:hover,
.extension-popup .container-main .btn-autosubmit:hover {
  cursor: pointer;
}

.extension-popup .container-detail {
  height: 100%;
}

.extension-popup .container-detail .container-checkbox {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.extension-popup .container-detail .container-checkbox > div input {
  display: none;
}

.extension-popup .container-detail .container-checkbox > div input:checked + label {
  background: #ea16f5;
  color: #FFFFFF;
}

.extension-popup .container-detail .container-checkbox > div label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 583px;
  height: 78px;
  background: transparent;
  border: 2px solid #FFFFFF;
  -webkit-box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.0572279);
          box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.0572279);
  font-weight: 500;
  font-size: 20px;
  line-height: 13px;
  text-align: center;
}

.extension-popup .container-detail .container-checkbox > div label:hover {
  cursor: pointer;
}

.extension-popup .container-detail .container-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24.61px;
}

.extension-popup .container-detail .container-input label {
  margin-right: 30.8px;
}

.extension-popup .container-detail .container-input label img {
  margin-right: 8.8px;
}

.extension-popup .container-detail .container-input input {
  padding: 17px 30px 13px;
  width: 128px;
  height: 46px;
  background: #FFFFFF;
  border-radius: 3px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.208362px;
  color: #515151;
}

.extension-popup .btn-dashboard {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 184px;
  height: 54px;
  background: #FFFFFF;
  border: 1px solid #E0E5EB;
  -webkit-box-shadow: 0px 3px 12px rgba(228, 228, 228, 0.5);
          box-shadow: 0px 3px 12px rgba(228, 228, 228, 0.5);
  border-radius: 7px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height, or 131% */
  text-align: center;
  letter-spacing: 0.0621336px;
  color: #ea16f5;
}

.extension-popup .btn-dashboard svg {
  margin-left: 16.15px;
  stroke: #ea16f5;
}

.extension-popup .btn-dashboard:hover {
  cursor: pointer;
  background: #ea16f5;
  color: #FFFFFF;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.extension-popup .btn-dashboard:hover svg {
  stroke: #FFFFFF;
}

.extension-popup .input-select {
  padding: 0 21px;
  margin-top: 39px;
  width: 226px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border: 1px solid #E0E5EB;
  -webkit-box-shadow: 0px 3px 12px rgba(228, 228, 228, 0.5);
          box-shadow: 0px 3px 12px rgba(228, 228, 228, 0.5);
  border-radius: 7px;
  font-size: 17px;
  line-height: 20px;
  /* identical to box height, or 118% */
  letter-spacing: 0.196787px;
}

.extension-popup .input-select:hover {
  cursor: pointer;
}

.extension-popup .input-autofill,
.extension-popup .input-autosubmit {
  display: none;
}

.extension-popup .input-autofill:checked + .btn-autofill,
.extension-popup .input-autofill:checked + .btn-autosubmit,
.extension-popup .input-autosubmit:checked + .btn-autofill,
.extension-popup .input-autosubmit:checked + .btn-autosubmit {
  background: #ea16f5;
  color: #FFFFFF;
}

.extension-popup .input-auto-jig {
  display: none;
}

.extension-popup .input-auto-jig:checked + .btn-auto-jig {
  background: #ea16f5;
  color: #FFFFFF;
}

.extension-popup .active {
  background: #ea16f5 !important;
  color: #FFFFFF !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.extension-popup .active svg {
  fill: #FFFFFF !important;
}

.extension-menu .active {
  background: #ea16f5 !important;
  color: #FFFFFF !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.extension-menu .active svg {
  fill: #FFFFFF !important;
}
/*# sourceMappingURL=extension.css.map */