@import url('http://fonts.cdnfonts.com/css/lemonmilk');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #FFFFFF;
    font-family: "Rany";
    label {
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Old versions of Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
    }
}

.extension-popup {
    width: 700px;
    height: 450px;
    display: flex;
    align-items: center;
    background: #2b2a33;
    flex-direction: column;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.0578562);
    .top-menu {
        width: 100%;
        display: flex;
        padding: 4px 14px;
        align-items: center;
        background: #302e37;
        justify-content: space-between;
        &>div {
            &:first-child {
                display: flex;
                align-items: center;
                &>div {
                    &:first-child {
                        width: 140px;
                        display: flex;
                        align-items: center;
                        border-right: 2px solid #FFFFFF;
                        img {
                            height: 28px;
                            margin-right: 8px;
                        }
                        span {
                            font-size: 13px;
                            line-height: 12px;
                        }
                    }
                    &:last-child {
                        span {
                            cursor: pointer;
                            font-size: 14px;
                            font-weight: 300;
                            line-height: 13px;
                            margin-left: 30px;
                        }
                    }
                }
            }
            &:last-child {
                display: flex;
                align-items: center;
                input {
                    display: none;
                }
                label {
                    font-size: 10px;
                    line-height: 9px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .container-main {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        input {
            display: none;
            &:checked {
                &+label {
                    background: #ea16f5;
                    color: #FFFFFF;
                }
            }
        }
        label {
            width: 583px;
            height: 78px;
            display: flex;
            font-size: 38px;
            line-height: 34px;
            text-align: center;
            border-radius: 39px;
            align-items: center;
            justify-content: center;
            background: transparent;
            border: 2px solid #FFFFFF;
            box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.0572279);
            &:hover {
                cursor: pointer;
            }
        }
    }
    .container-detail {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &>div {
            input {
                display: none;
                &:checked {
                    &+label {
                        background: #ea16f5;
                    }
                }
            }
            label {
                width: 583px;
                height: 78px;
                display: flex;
                font-size: 38px;
                line-height: 34px;
                text-align: center;
                align-items: center;
                justify-content: center;
                background: transparent;
                border: 2px solid #FFFFFF;
                box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.0572279);
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .container-profiles {
        .input-select {
            width: 226px;
            height: 54px;
            display: flex;
            font-size: 17px;
            line-height: 20px;
            border-radius: 7px;
            flex-direction: row;
            align-items: center;
            background: transparent;
            border: 1px solid #E0E5EB;
            letter-spacing: 0.196787px;
            box-shadow: 0px 3px 12px rgba(228, 228, 228, 0.5);
            &:hover {
                cursor: pointer;
            }
        }
    }
}